{% extends "tokens/layout.html" %}

{% block body %}
    <h1>Voting Tokens</h1>
    This service generates authenticated but anonymous voting tokens
    for use in online anonymous elections. If you would like to verify
    the anonymity of the service, the entire project is open source.

    <hr>

    {% if error %}

    ERROR: {{ error }}
    <hr>
    {% endif %}

    <form action="{% url 'claim' %}" method="post">
        {% csrf_token %}
        <div>
            <input autofocus type="text" name="email" placeholder="Email Address">
        </div>
        <div>
            <input autofocus type="text" name="password" placeholder="One-Time Password">
        </div>
        <input type="submit" value="Claim Token">
    </form>
{% endblock %}